version: '3.8'
services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: lab04-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    extra_hosts:
      - "host.docker.internal:host-gateway"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    volumes:
      - grafana-storage:/var/lib/grafana
  app:
    build: .
    container_name: lab04-app
    ports:
      - "8082:8082"
    depends_on:
      - rabbitmq
    environment:
      # Connect to RabbitMQ inside Docker
      SPRING_RABBITMQ_HOST: rabbitmq

      # Connect to Postgres on your HOST computer
      # URL format: jdbc:postgresql://host.docker.internal:<YOUR_PORT>/studentdb
      SPRING_DATASOURCE_URL: jdbc:postgresql://host.docker.internal:5433/studentdb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 1234

    # REQUIRED for Linux users (optional but harmless for Windows/Mac)
    # This maps 'host.docker.internal' to the actual host gateway IP
    extra_hosts:
      - "host.docker.internal:host-gateway"
volumes:
  grafana-storage: